html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  background: #c2dde5;
  font: normal 18px/1.44 A\&ICircular, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.03em;
  -webkit-text-size-adjust: 100%;
}
