.container {
  position: fixed;
  z-index: 60;
  bottom: 0;
  box-sizing: border-box;
  transform-origin: 50% 100%;
  text-align: center;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-right: 100px;
  height: 80%;
  transform-origin: 100% 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 0.4s ease;
}

.personChanger {
  position: absolute;
  top: 5%;
  left: 11%;
  width: 58%;
  bottom: 0;
  height: 100%;
}

/* @media (max-width: 700px) {
  .container {
    position: absolute;
    width: 200px;
    height: 200px;
    display: inline-block;
    right: 0%;
    left: 0%;
    top: 10%;
  }
} */
